<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Pogody I Responsive Coming Soon Template</title>
		<meta name="description" content="Pogody is a responsive HTML5 coming soon template by hencework." />
		<meta name="keywords" content="Pogody, Responsive Coming Soon Template, Under Construction Template, Responsive Template, HTML5 Template, themeforest.net, Bootstrap, HTML5, Creative, Landing Page, Sass, Clean, Design, Modern, Angular js, MailChimp Subscription," />
		<meta name="author" content="hencework" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body data-ng-app="contactApp">

		<!--Preloader-->
		<div class="preloader-it" style="z-index: 1100;">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="menu-page splitlayout reset-layout" id="splitlayout" style="background: black;">
			
			<!--Splitlayout -->
			<!-- <div id="splitlayout" class="splitlayout reset-layout"> -->
				

				<div>
					<div id="popup" style="z-index: 1100; position: fixed">
						<div class='popup-background' style="background: black;left: 0;right: 0;bottom: 0;top: 0;opacity: 0.8;position: absolute;">

							<div class="close_popup" style="
									padding: 2px;
									right: 2%;
									top: 2%;
									text-align: right;">
							
									<a role="button" tabindex="0" aria-label="Close" class="close_popup" style="
											padding: 2px;
											right: 2%;
											top: 2%;
											text-align: right; font-size: xx-large; position: relative;">
									X</a>
							</div>
									
							
						</div>
						<img src="" style="
								position: absolute;
								top: 18%;
								width: 50%;
								left: 25%;
								"/>
						
					</div>
				</div>


				<div>
					<div id="popup2" style="z-index: 1100; position: fixed">
						<div class='popup-background' style="background: black;left: 0;right: 0;bottom: 0;top: 0;opacity: 0.8;position: absolute;">

							<div class="close_popup" style="
									padding: 2px;
									right: 2%;
									top: 2%;
									text-align: right;">
							
									<a role="button" tabindex="0" aria-label="Close" class="close_popup" style="
											padding: 2px;
											right: 2%;
											top: 2%;
											text-align: right; font-size: xx-large; position: relative;">
									X</a>
							</div>
									
							
						</div>
						<img src="" style="
								position: absolute;
								top: 12%;
								width: auto;
								left: 33%;
								height: 80%;
								"/>
						
					</div>
				</div>

				

				<!--Intro-->
				<div class="intro">

					<div class="logo align-center text-left"><img src="img/logo-dark.jpg" alt="logo" style="margin-left: 42%;
						position: relative;">
					</div>



					<!-- Portfolio -->
					<section class="section-wrap">
						<div class="container-fluid container-semi-fluid">			

							<!-- Filter -->
							<div class="masonry-filter text-center">
								<a href="#" class="filter active" data-filter="*">All</a>
								<a href="#" class="filter" data-filter=".appetizer">Appetizer</a>
								<a href="#" class="filter" data-filter=".ramen">Ramen</a>
								<a href="#" class="filter" data-filter=".drinks">Drinks</a>
								<a href="#" class="filter" data-filter=".lifestyle">LifeStyle</a>
							</div> 
							<!-- end filter -->

							<div class="row masonry-grid">

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/17.jpg">
												<img src="img/portfolio/17.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Miso Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/18.jpg" class="thumb1">
												<img src="img/portfolio/18.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shoyu Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/19.jpg" class="thumb2">
												<img src="img/portfolio/19.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Signature Milk Tea</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/20.jpg" class="thumb2">
												<img src="img/portfolio/20.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shoyu Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/22.jpg" class="thumb1">
												<img src="img/portfolio/22.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Tonkatsu Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/21.jpg" class="thumb2">
												<img src="img/portfolio/21.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shrimp Fried Rice</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/23.jpg" class="thumb2">
												<img src="img/portfolio/23.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Enjoy the milk tea</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/28.jpg" class="thumb2">
												<img src="img/portfolio/28.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Passion Fruit Green Tea</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/27.jpg" class="thumb1">
												<img src="img/portfolio/27.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Happy New Year 2023</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/24.jpg" class="thumb2">
												<img src="img/portfolio/24.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Happy New Year 2023</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/25.jpg" class="thumb2">
												<img src="img/portfolio/25.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Lychee Lemonade</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/30.jpg" class="thumb2">
												<img src="img/portfolio/30.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Tonkotsu belly</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/26.jpg" class="thumb1">
												<img src="img/portfolio/26.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Happy New Year 2023</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger Appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/35.jpg" class="thumb1">
												<img src="img/portfolio/35.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Cajun Fries(Mix Seafood Sause)</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<!-- <div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/15.jpg" class="thumb1">
												<img src="img/portfolio/15.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Norwegian Cold Proof Home</h3>
														<span class="project__date">2018</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div>  -->
								<!-- end project -->

								<!-- <div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/16.jpg" class="thumb1">
												<img src="img/portfolio/16.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">East Bethesda Market</h3>
														<span class="project__date">2018</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> -->
								 <!-- end project -->

							</div>
						</div>
					</section> <!-- end portfolio -->



					<div class="side side-left" style="background: transparent;">
							<!--About Nav-->
							<!-- <div class="call-to-action about">
								<i class="fa fa-info fa-2x" style="color: white;"></i>	
								<i class="fa fa-times fa-2x opacity-hide" style="color: white;"></i>	
								<span class="top" style="background: white;"></span>
								<span class="right" style="background: white;"></span>
								<span class="bottom" style="background: white;"></span>
								<span class="left" style="background: white;"></span>
							</div> -->
							<!--/About Nav-->

							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-facebook" style="color: white;"></i>
										</a>
									</li>
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-twitter" style="color: white;"></i>
										</a>
									</li>
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-linkedin" style="color: white;"></i>
										</a>
									</li>
								</ul>
								<p style="color: white;">Pampered by Trio © 2022</p>
							</div>

							<!-- Custome Nav Bar  -->
							<div class="align-center text-left custom-nav">
								<div class="header-nav">
									<nav class="header-nav-list">
											<div class="header-nav-item header-nav-item--collection">
													<a href="index.html" data-animation-role="header-element" aria-current="page" class="preFade fadeIn" 
														style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0s;margin-right: 0.8vw;">Home</a>
											</div>
											<div class="header-nav-item header-nav-item--collection">
												<a href="index2.html" data-animation-role="header-element" class="preFade fadeIn" 
													style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0s;margin-right: 0.8vw;">Menu</a>
											</div>
											<!-- <div class="header-nav-item header-nav-item--collection menu">
												<a data-animation-role="header-element" class="preFade fadeIn" 
													style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0s;margin-right: 0.8vw;">Our Story</a>
											</div> -->
											<div class="header-nav-item header-nav-item--collection header-nav-item--active header-nav-item--homepage">
												<a href="gallery.html" data-animation-role="header-element" class="preFade fadeIn" 
													style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0s;margin-right: 0.8vw;">Gallery</a>
											</div>
											<div class="header-nav-item header-nav-item--collection career">
												<a data-animation-role="header-element" class="preFade fadeIn" 
													style="transition-timing-function: ease; transition-duration: 0.9s; transition-delay: 0s;margin-right: 0.8vw;">Career</a>
											</div>
									</nav>
								</div>
								<!-- <a href="index2.html" class="btn btn-default">link text</a> -->
							</div>
							<!-- Custome Nav Bar  -->

							<!-- <div class="align-center text-left">
								<a id="thumb" class="thumb1" href="img/menu1.jpg">
								  <img class="thumb" src="img/menu1.jpg"/>
								</a>
							</div> -->
							
					</div>
					<div class="side side-right" style="background: transparent;">
								<!--Contect Nav-->
								<div class="call-to-action contact">
									<i class="fa fa-envelope fa-2x" style="color: white;"></i>
									<i class="fa fa-times fa-2x opacity-hide"></i>
									<span class="top" style="background: white;"></span>
									<span class="right" style="background: white;"></span>
									<span class="bottom" style="background: white;"></span>
									<span class="left" style="background: white;"></span>
								</div>
								<!--/Contect Nav-->

								<!-- <div class="align-center text-left" style="margin-top: 245px;">
									<a id="thumb" class="thumb1" href="img/menu2.jpg">
									  <img class="thumb" src="img/menu2.jpg"/>
									</a>
								</div> -->
					</div>
				
					
				</div>
				<!--/Intro-->
				
				<!--About Section-->
				<!-- <div class="page page-left" style="z-index: 1000;position: fixed;">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>About</h3>
								</div>	
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
									<p class="tagline">We handcraft unique flavor & visual feast experiences to surprise our customers</p>
									<span class="small-hr"></span>
									<p class="align-center">We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers! </p>
									
									
									<div id="qualities">
										<div class="qualities"> 
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture1</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-birthday-cake"></i></span>
												<span class="qual-tag">Culture2</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-cutlery"></i></span>
												<span class="qual-tag"> Culture3</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture4</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture5</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag"> Culture6</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
										</div>
									</div>
									
								</div>	
								
								<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-7 col-md-8 col-sm-8 col-xs-9 team-sec">
									<p class="tagline">Our Team</p>
									<span class="small-hr"></span>
									<div id="team">
										<div class="team"> 
											<div class="item">
												<div class="team-img-wrap">
													<img src="img/team1.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> marry</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team2.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> david</span>
												<span class="desg"> coo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team3.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> john</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team4.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> elina</span>
												<span class="desg"> ceo											</span>
											</div>
										
										</div>
									</div>
								</div>	
								
							</div>
						</div>
						<div class="trans-overlay-dark-about"></div>
					</div>		
				</div> -->
				<!--/About Section-->
				
				<!--Contact Section-->
				<div class="page page-right" style="z-index: 1000;position: fixed;">
					<div  class="page-inner full-height" style="background-color: white;">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Career'">Career</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<!-- <form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form> -->
									<!-- <p data-ng-class="result">{{ resultMessage }}</p> -->
									<p>Our career plans should be shows here! Our career plans should be shows here! Our career plans should be shows here!</p>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-9">
										<div class="notify-btn main-menu">
	
											<a href="/img/JobApplication.pdf" type="submit" onclick="window.open('/img/JobApplication.pdf')" class="btn animated"><span class="button-label text-left">Apply </span><span class="arrow-wrap">
												<span class="arrow"></span>
											</span></a>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
									<p>2831 Parmenter St, Middleton, <br/>WI 53562</p>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:16088246703" target="_blank">+1 (608) 824-6703</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-fax"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:16088246703" target="_blank">+1 (608) 824-6703</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="trio@trioramen.com" target="_blank">trio@trioramen.com</a>
									</div>
									<div class="col-lg-12  pad-left-zero map">
									<a class="" href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" target="_blank">
										<span class="">get direction</span><span class="go-arrow"></span>
									</a>	
									</div>
								</div>
							
								</div>		
								<!--Google Map-->
								<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<!--/Google Map-->
							</div>
							</div>
						</div>
							
						<div class="trans-overlay-dark-contact"></div>	
            		</div>
				</div>
				<!--/Contact Section-->
				
			<!-- </div> -->
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/init.js"></script>
		
	</body>
</html>
