<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Trio Ramen</title>
		<meta name="description" content="Trio Ramen" />
		<meta name="keywords" content="Trio Ramen" />
		<meta name="author" content="hencework" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="https://kit.fontawesome.com/d1b3b9d020.js" crossorigin="anonymous"></script>
	</head>
	
	<body data-ng-app="contactApp">

		<!--Preloader-->
		<div class="preloader-it" style="z-index: 1100;">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="menu-page splitlayout reset-layout" id="splitlayout" style="background: black;">
			
			<!--Splitlayout -->
			<!-- <div id="splitlayout" class="splitlayout reset-layout"> -->
				

				<div>
					<div id="popup" style="z-index: 1100; position: fixed">
						<div class='popup-background' style="background: black;left: 0;right: 0;bottom: 0;top: 0;opacity: 0.8;position: absolute;">

							<div class="close_popup" style="
									padding: 2px;
									right: 2%;
									top: 2%;
									text-align: right;">
							
									<a role="button" tabindex="0" aria-label="Close" class="close_popup" style="
											padding: 2px;
											right: 2%;
											top: 2%;
											text-align: right; font-size: xx-large; position: relative;">
									X</a>
							</div>
									
							
						</div>
						<img src="" style="
								position: absolute;
								top: 18%;
								width: 50%;
								left: 25%;
								"/>
						
					</div>
				</div>


				<div>
					<div id="popup2" style="z-index: 1100; position: fixed">
						<div class='popup-background' style="background: black;left: 0;right: 0;bottom: 0;top: 0;opacity: 0.8;position: absolute;">

							<div class="close_popup" style="
									padding: 2px;
									right: 2%;
									top: 2%;
									text-align: right;">
							
									<a role="button" tabindex="0" aria-label="Close" class="close_popup" style="
											padding: 2px;
											right: 2%;
											top: 2%;
											text-align: right; font-size: xx-large; position: relative;">
									X</a>
							</div>
									
							
						</div>
						<img src="" class="screen-popup-image"/>
						
					</div>
				</div>

				

				<!--Intro-->
				<div class="intro">

					<div class="logo align-center text-left"><img src="img/logo-dark.jpg" alt="logo"  class="screen-logo">
					</div>



					<!-- Portfolio -->
					<section class="section-wrap screen-portfolio-gallery">
						<div class="container-fluid container-semi-fluid">			

							<!-- Filter -->
							<div class="masonry-filter text-center">
								<a href="#" class="filter active" data-filter="*">All</a>
								<a href="#" class="filter" data-filter=".appetizer">Appetizer</a>
								<a href="#" class="filter" data-filter=".ramen">Ramen</a>
								<a href="#" class="filter" data-filter=".friedRice">Rice Bowl</a>
								<a href="#" class="filter" data-filter=".drinks">Drinks</a>
								<a href="#" class="filter" data-filter=".housemade">House-made</a>
								<a href="#" class="filter" data-filter=".lifestyle">LifeStyle</a>
							</div> 
							<!-- end filter -->

							<div class="row masonry-grid">

									<div class="masonry-item col-lg-3 project hover-trigger ramen">
										<div class="project__container">
											<div class="project__img-holder">
												<a id="thumb" class="thumb1" href="img/portfolio/trio_004_72_pixel.jpg">
													<img src="img/portfolio/trio_004_72_pixel.jpg" alt="" class="project__img">
													<div class="hover-overlay">
														<div class="project__description">
															<h3 class="project__title">Chef Special</h3>
															<span class="project__date">Spicy Miso, Shrimp, Chashu, Menma, Scallions, Corn</span>
														</div>
													</div>
												</a>              
											</div>                  
										</div> 
									</div> <!-- end project -->

									<div class="masonry-item col-lg-3 project hover-trigger ramen">
										<div class="project__container">
											<div class="project__img-holder">
												<a id="thumb" class="thumb1" href="img/portfolio/trio_002_72_pixel.jpg">
													<img src="img/portfolio/trio_002_72_pixel.jpg" alt="" class="project__img">
													<div class="hover-overlay">
														<div class="project__description">
															<h3 class="project__title">Chef Special</h3>
															<span class="project__date">Spicy Miso, Shrimp, Chashu, Menma, Scallions, Corn</span>
														</div>
													</div>
												</a>              
											</div>                  
										</div> 
									</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_007_72_pixel.jpg">
												<img src="img/portfolio/trio_007_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Curry Chicken Katsu</h3>
														<span class="project__date">Fried chicken breast, Scallions, Pickle Ginger, Japanese Curry</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_020_72_pixel.jpg">
												<img src="img/portfolio/trio_020_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Tonkotsu Belly</h3>
														<span class="project__date">Ajisuke Tamago, Woodear Mushrooms, Menma, Scallions</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_017_72_pixel.jpg">
												<img src="img/portfolio/trio_017_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shoyu Loin With Ajisuke Tamago</h3>
														<span class="project__date">Bean Sprouts, Fish Cake, Menma, Pinckle Ginger, Scallions</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/36.jpg">
												<img src="img/portfolio/36.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Spam Musibi</h3>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_009_72_pixel.jpg">
												<img src="img/portfolio/trio_009_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Curry Chicken Katsu</h3>
														<span class="project__date">Fried chicken breast, Scallions, Pickle Ginger, Japanese Curry</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_013_72_pixel.jpg">
												<img src="img/portfolio/trio_013_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shoyu Loin With Ajisuke Tamago</h3>
														<span class="project__date">Bean Sprouts, Fish Cake, Menma, Pinckle Ginger, Scallions</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_021_72_pixel.jpg">
												<img src="img/portfolio/trio_021_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Tonkotsu Belly</h3>
														<span class="project__date">Ajisuke Tamago, Woodear Mushrooms, Menma, Scallions</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_025_72_pixel.jpg">
												<img src="img/portfolio/trio_025_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Cajun Fries</h3>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_030_72_pixel.jpg">
												<img src="img/portfolio/trio_030_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Seaweed Salad</h3>
														<!-- <span class="project__date">2023</span> -->
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_032_72_pixel.jpg">
												<img src="img/portfolio/trio_032_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Yuzu Shoyu Ramen</h3>
														<span class="project__date">Pork Loin, Menma, Corn, Cabbage, Scallions, Woodear Mushrooms, Nori</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_034_72_pixel.jpg">
												<img src="img/portfolio/trio_034_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Yuzu Shoyu Ramen</h3>
														<span class="project__date">Pork Loin, Menma, Corn, Cabbage, Scallions, Woodear Mushrooms, Nori</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_043_72_pixel.jpg">
												<img src="img/portfolio/trio_043_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Karaage</h3>
														<span class="project__date">Japanese Fried chicken with spicy mayonnaise</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_040_72_pixel.jpg">
												<img src="img/portfolio/trio_040_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Pan Fried Gyoza</h3>
														<span class="project__date">Pork/Shrimp/Chicken/Vegitables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_046_72_pixel.jpg">
												<img src="img/portfolio/trio_046_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Takoyaki</h3>
														<!-- <span class="project__date">2023</span> -->
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger appetizer">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_078_72_pixel.jpg">
												<img src="img/portfolio/trio_078_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Pork Bun</h3>
														<span class="project__date">Pork Belly with Cucumber, Lettuce and House Sauce</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/trio_050_72_pixel.jpg" class="thumb2">
												<img src="img/portfolio/trio_050_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Peach Flavored Green Tea</h3>
														<!-- <span class="project__date">2023</span> -->
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/trio_052_72_pixel.jpg" class="thumb2">
												<img src="img/portfolio/trio_052_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Peach Flavored Green Tea</h3>
														<!-- <span class="project__date">2023</span> -->
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/trio_054_72_pixel.jpg" class="thumb2">
												<img src="img/portfolio/trio_054_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Signature Milk Tea</h3>
														<span class="project__date">Brown Sugar Tapioca</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/trio_056_72_pixel.jpg" class="thumb2">
												<img src="img/portfolio/trio_056_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Signature Milk Tea</h3>
														<span class="project__date">Brown Sugar Tapioca</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/trio_059_72_pixel.jpg" class="thumb2">
												<img src="img/portfolio/trio_059_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Matcha Milk Tea</h3>
														<span class="project__date">Brown Sugar Tapioca</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/trio_062_72_pixel.jpg" class="thumb2">
												<img src="img/portfolio/trio_062_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Passion Fruit Green Tea</h3>
														<!-- <span class="project__date">Brown Sugar Tapioca</span> -->
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_065_72_pixel.jpg">
												<img src="img/portfolio/trio_065_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">House Specialty Drinks</h3>
														<span class="project__date">Peach Flavored Green Tea, Passion Fruit Green Tea, Signature Milk Tea, Matcha Milk Tea</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_068_72_pixel.jpg">
												<img src="img/portfolio/trio_068_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Fried Rice with Miso Soup</h3>
														<span class="project__date">Shrimp/Vegetables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_070_72_pixel.jpg">
												<img src="img/portfolio/trio_070_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Fried Rice with Miso Soup</h3>
														<span class="project__date">Shrimp/Vegetables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_073_72_pixel.jpg">
												<img src="img/portfolio/trio_073_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Yaki Soba with Miso Soup</h3>
														<span class="project__date">Shrimp/Pork Chashu/Vegetables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_074_72_pixel.jpg">
												<img src="img/portfolio/trio_074_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Yaki Soba with Miso Soup</h3>
														<span class="project__date">Shrimp/Pork Chashu/Vegetables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_080_72_pixel.jpg">
												<img src="img/portfolio/trio_080_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Teriyaki Beef Rice Bowl</h3>
														<span class="project__date">Grilled Teriyaki Beef Slices, Onions, Pickle Ginger, Onsen Tamago(Spring Egg), Shichimi Togorashi</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_081_72_pixel.jpg">
												<img src="img/portfolio/trio_081_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Teriyaki Beef Rice Bowl</h3>
														<span class="project__date">Grilled Teriyaki Beef Slices, Onions, Pickle Ginger, Onsen Tamago(Spring Egg), Shichimi Togorashi</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_085_72_pixel.jpg">
												<img src="img/portfolio/trio_085_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Teriyaki Chicken Rice Bowl</h3>
														<span class="project__date">Grilled Teriyaki Chicken Breast, Onions, Pickle Ginger</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger friedRice">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_088_72_pixel.jpg">
												<img src="img/portfolio/trio_088_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Teriyaki Chicken Rice Bowl</h3>
														<span class="project__date">Grilled Teriyaki Chicken Breast, Onions, Pickle Ginger</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_089_72_pixel.jpg">
												<img src="img/portfolio/trio_089_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Matcha Cheese Cake</h3>
														<span class="project__date">Matcha Tiramisu/Matcha Pudding/Matcha Cheese Cake/Sasa Dango</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/trio_097_72_pixel.jpg">
												<img src="img/portfolio/trio_097_72_pixel.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Mochi</h3>
														<span class="project__date">Green Tea/Strawberry/Red Bean</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a id="thumb" class="thumb1" href="img/portfolio/17.jpg">
												<img src="img/portfolio/17.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Miso Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/18.jpg" class="thumb1">
												<img src="img/portfolio/18.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shoyu Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/19.jpg" class="thumb2">
												<img src="img/portfolio/19.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Signature Milk Tea</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/20.jpg" class="thumb2">
												<img src="img/portfolio/20.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shoyu Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/22.jpg" class="thumb1">
												<img src="img/portfolio/22.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Tonkatsu Ramen</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/21.jpg" class="thumb2">
												<img src="img/portfolio/21.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Shrimp Fried Rice</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/23.jpg" class="thumb2">
												<img src="img/portfolio/23.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Enjoy the milk tea</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/28.jpg" class="thumb2">
												<img src="img/portfolio/28.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Passion Fruit Green Tea</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/27.jpg" class="thumb1">
												<img src="img/portfolio/27.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Happy New Year 2023</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/24.jpg" class="thumb2">
												<img src="img/portfolio/24.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Happy New Year 2023</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger drinks">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/25.jpg" class="thumb2">
												<img src="img/portfolio/25.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Lychee Lemonade</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger housemade">
									<div class="project__container">
										<div class="project__img-holder">
											<a class="thumb2" href="img/portfolio/37.jpeg">
												<img src="img/portfolio/37.jpeg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Housemade Hot Sause</h3>
														<span class="project__date">Vege Spicy Sause</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger housemade">
									<div class="project__container">
										<div class="project__img-holder">
											<a class="thumb2" href="img/portfolio/38.JPG">
												<img src="img/portfolio/38.JPG" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Home Made Dumplings</h3>
														<span class="project__date">Pork/Chicken/Shirmp/Vegetables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger housemade">
									<div class="project__container">
										<div class="project__img-holder">
											<a class="thumb2" href="img/dumplings01.jpg">
												<img src="img/dumplings01.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Home Made Dumplings</h3>
														<span class="project__date">Pork/Chicken/Shirmp/Vegetables</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> <!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger ramen">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/30.jpg" class="thumb2">
												<img src="img/portfolio/30.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Tonkotsu belly</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

								<div class="masonry-item col-lg-3 project hover-trigger lifestyle">
									<div class="project__container">
										<div class="project__img-holder">
											<a href="img/portfolio/26.jpg" class="thumb1">
												<img src="img/portfolio/26.jpg" alt="" class="project__img">
												<div class="hover-overlay">
													<div class="project__description">
														<h3 class="project__title">Happy New Year 2023</h3>
														<span class="project__date">2023</span>
													</div>
												</div>
											</a>              
										</div>                  
									</div> 
								</div> 
								<!-- end project -->

							</div>
						</div>
					</section> <!-- end portfolio -->



					<div class="side side-left" style="background: transparent;">
							<!--About Nav-->
							<!-- <div class="call-to-action about">
								<i class="fa fa-info fa-2x" style="color: white;"></i>	
								<i class="fa fa-times fa-2x opacity-hide" style="color: white;"></i>	
								<span class="top" style="background: white;"></span>
								<span class="right" style="background: white;"></span>
								<span class="bottom" style="background: white;"></span>
								<span class="left" style="background: white;"></span>
							</div> -->
							<!--/About Nav-->

							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-facebook" style="color: white;"></i>
										</a>
									</li>
									<li>
										<a href="https://www.tiktok.com/@trioramenmidleton" class="social-icon">
											<i class="fa-brands fa-tiktok" style="color: white;"></i>
										</a>
									</li>
									<li>
										<a href="https://instagram.com/letrioramen?igshid=NTc4MTIwNjQ2YQ==" class="social-icon">
											<i class="fa fa-instagram" style="color: white;"></i>
										</a>
									</li>
								</ul>
								<p style="color: white;">Designed by Trio © 2022</p>
							</div>

							<!-- Custome Nav Bar  -->
							<div class="align-center text-left custom-nav">
								<div class="header-nav">
									<nav class="header-nav-list">
											<div class="header-nav-item header-nav-item--collection">
													<a href="index.html" data-animation-role="header-element" aria-current="page" class="preFade fadeIn screen-nav-bar-menu-page">Home</a>
											</div>
											<div class="header-nav-item header-nav-item--collection">
												<a href="menu.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Menu</a>
											</div>

											<div class="header-nav-item header-nav-item--collection">
												<a href="catering.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Catering</a>
											</div>

											<div class="header-nav-item header-nav-item--collection">
												<a href="events.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Events</a>
											</div>

											<!-- <div class="header-nav-item header-nav-item--collection menu">
												<a data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Our Story</a>
											</div> -->
											<div class="header-nav-item header-nav-item--collection header-nav-item--active header-nav-item--homepage">
												<a href="gallery.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Gallery</a>
											</div>
											
											<div class="header-nav-item header-nav-item--collection">
												<a href="about.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">About</a>
											</div>
											<div class="header-nav-item header-nav-item--collection hidden_on_small_screen">
												<!-- <button type="submit" class="btn btn-default" onclick="window.open('https://trioramenwi.kwickmenu.com/index.php', '_self')" 
													data-ng-disabled="submitButtonDisabled" style="height: 38px; width: 160px; background: rgb(144, 90, 144);">
													Order Online
												</button> -->
											</div>
									</nav>
								</div>
								<!-- <a href="index2.html" class="btn btn-default">link text</a> -->
							</div>
							<!-- Custome Nav Bar  -->

							<!-- <div class="align-center text-left">
								<a id="thumb" class="thumb1" href="img/menu1.jpg">
								  <img class="thumb" src="img/menu1.jpg"/>
								</a>
							</div> -->
							
					</div>
					<div class="side side-right" style="background: transparent; z-index: 100;">
								<!--Contect Nav-->
								<div class="call-to-action contact">
									<i class="fa fa-envelope fa-2x" style="color: white;"></i>
									<i class="fa fa-times fa-2x opacity-hide"></i>
									<span class="top" style="background: white;"></span>
									<span class="right" style="background: white;"></span>
									<span class="bottom" style="background: white;"></span>
									<span class="left" style="background: white;"></span>
								</div>
								<!--/Contect Nav-->

								<!-- <div class="align-center text-left" style="margin-top: 245px;">
									<a id="thumb" class="thumb1" href="img/menu2.jpg">
									  <img class="thumb" src="img/menu2.jpg"/>
									</a>
								</div> -->
					</div>
				
					
				</div>
				<!--/Intro-->
				
				<!--About Section-->
				<!-- <div class="page page-left" style="z-index: 1000;position: fixed;">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>About</h3>
								</div>	
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
									<p class="tagline">We handcraft unique flavor & visual feast experiences to surprise our customers</p>
									<span class="small-hr"></span>
									<p class="align-center">We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers! </p>
									
									
									<div id="qualities">
										<div class="qualities"> 
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture1</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-birthday-cake"></i></span>
												<span class="qual-tag">Culture2</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-cutlery"></i></span>
												<span class="qual-tag"> Culture3</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture4</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture5</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag"> Culture6</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
										</div>
									</div>
									
								</div>	
								
								<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-7 col-md-8 col-sm-8 col-xs-9 team-sec">
									<p class="tagline">Our Team</p>
									<span class="small-hr"></span>
									<div id="team">
										<div class="team"> 
											<div class="item">
												<div class="team-img-wrap">
													<img src="img/team1.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> marry</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team2.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> david</span>
												<span class="desg"> coo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team3.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> john</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team4.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> elina</span>
												<span class="desg"> ceo											</span>
											</div>
										
										</div>
									</div>
								</div>	
								
							</div>
						</div>
						<div class="trans-overlay-dark-about"></div>
					</div>		
				</div> -->
				<!--/About Section-->
				
				<!--Contact Section-->
				<div class="page page-right screen-career screen-career-background-menu-page">
					<div  class="page-inner full-height" style="background-color: white;">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Career'">Career</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<!-- <form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form> -->
									<!-- <p data-ng-class="result">{{ resultMessage }}</p> -->
									<p>If you would like to join our team, apply here!</p>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-9">
										<div class="notify-btn main-menu">
	
											<a href="/img/JobApplication.pdf" type="submit" onclick="window.open('/img/JobApplication.pdf')" class="btn animated"><span class="button-label text-left">Apply </span><span class="arrow-wrap">
												<span class="arrow"></span>
											</span></a>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
									<p>2831 Parmenter St, Middleton, <br/>WI 53562</p>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:16088246703" target="_blank">+1 (608) 824-6703</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-fax"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:16088246703" target="_blank">+1 (608) 824-6701</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="trio@trioramen.com" target="_blank">trio@trioramen.com</a>
									</div>
									<div class="col-lg-12  pad-left-zero map">
										<!-- <a class="" href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" target="_blank">
											<span class="">get direction</span><span class="go-arrow"></span>
										</a>	 -->
									</div>
								</div>
							
								</div>		
								<!--Google Map-->
								<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<!--/Google Map-->
							</div>
							</div>
						</div>
							
						<div class="trans-overlay-dark-contact"></div>	
            		</div>
				</div>
				<!--/Contact Section-->
				
			<!-- </div> -->
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/init.js"></script>
		
	</body>
</html>
