<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Pogody I Responsive Coming Soon Template</title>
		<meta name="description" content="Pogody is a responsive HTML5 coming soon template by hencework." />
		<meta name="keywords" content="Pogody, Responsive Coming Soon Template, Under Construction Template, Responsive Template, HTML5 Template, themeforest.net, Bootstrap, HTML5, Creative, Landing Page, Sass, Clean, Design, Modern, Angular js, MailChimp Subscription," />
		<meta name="author" content="hencework" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body data-ng-app="contactApp">
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="pad-zero">
			
			<!--Splitlayout -->
			<div id="splitlayout" class="splitlayout reset-layout">
				
				<!--Intro-->
				<div class="intro">
					
					<!--Left Content Intro-->
					<div class="side side-left">
						
						<!--About Nav-->
						<!-- <div class="call-to-action about">
								<i class="fa fa-info fa-2x"></i>	
								<i class="fa fa-times fa-2x opacity-hide"></i>	
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div> -->
						<!--/About Nav-->

						<!-- Custome Nav Bar  -->
						<div class="align-center text-left custom-nav">
							<div class="header-nav">
								<nav class="header-nav-list">
										<div class="header-nav-item header-nav-item--collection header-nav-item--active header-nav-item--homepage">
												<a href="index.html" data-animation-role="header-element" aria-current="page" class="preFade fadeIn screen-nav-bar">Home</a>
										</div>
										<div class="header-nav-item header-nav-item--collection">
											<a href="menu.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar">Menu</a>
										</div>
										<!-- <div class="header-nav-item header-nav-item--collection menu">
											<a data-animation-role="header-element" class="preFade fadeIn screen-nav-bar">Our Story</a>
										</div> -->
										<div class="header-nav-item header-nav-item--collection">
											<a href="gallery.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar">Gallery</a>
										</div>
										<div class="header-nav-item header-nav-item--collection career">
											<a data-animation-role="header-element" class="preFade fadeIn screen-nav-bar">Career</a>
										</div>
										<div class="header-nav-item header-nav-item--collection">
											<!-- <a href="gallery.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar">Order Online</a> -->
											<button type="submit" class="btn btn-default" onclick="window.open('https://trioramenwi.kwickmenu.com/index.php', '_self')" 
												data-ng-disabled="submitButtonDisabled" style="height: 38px; width: 160px;">
												Order Online
											</button>
										</div>
								</nav>
							</div>
							<!-- <a href="index2.html" class="btn btn-default">link text</a> -->
						</div>
						<!-- Custome Nav Bar  -->
						
						<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">
						
						<!--Logo-->
						<div class="logo align-center text-left"><img src="img/logo-dark.png" alt="logo">
						</div>
						<!--/Logo-->
						
						<!--main content-->
						<div class="main">
							
							<!--Content with Typing Intro-->
							<section id="home" class="section active">
								<div  class="preloader"></div>
								<div class="align-center text-left">
									<span class="small-hr animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200"></span>
									<p class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="300">Making the best Ramen with best ingredients sourced from Japan. 
										Find out <a href="https://en.m.wikipedia.org/wiki/Berkshire_pig" style="color: blue;"><u>more</u></a> about Kutobuta (黑豚) Heritage Bershire Pork.</p>
									<div class="type-wrap text-left">
										<h1  class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="900"><span id="typed" ></span></h1>
									</div>
									
									<!--Notify Button-->
									<!-- <span class="btn btn-default md-trigger margin-top-35" data-modal="modal-2">
										<span class="mask"></span>
										<span class="btn-label">
											<b>Notify me!</b>
										</span>
									</span> -->
									<!--/Notify Button-->
									<div class="notify-btn main-menu">
											<!-- <a  href="https://www.google.com" class="btn btn-default animated fadeInLeft" data-hover="Order Online" 
											data-animation="fadeInLeft" data-animation-delay="1000" data-out-animation="fadeInLeft" 
											data-out-animation-delay="600" data-toggle="modal" data-target="#notify-my">
											<span class="button-label text-left">Order Online</span><span class="arrow-wrap">
												<span class="arrow"></span>
											</span></a> -->
											<a href="https://trioramenwi.kwickmenu.com/index.php" type="submit" onclick="window.open('https://trioramenwi.kwickmenu.com/index.php', '_self')" 
												class="btn animated fadeInLeft" data-animation="fadeInLeft" data-animation-delay="1000" data-out-animation="fadeInLeft">
												<span class="button-label text-left">Order </span><span class="arrow-wrap">
												<span class="arrow"></span>
											</span></a>
									</div>
								</div>		
							</section>
							<!--/Content with Typing Intro-->

							<!--Notify Form-->
							<section id="contact" class="section text-left">
								<div  class="preloader"></div>	
								<div class="main-menu">
									<a class="close-notify black" href="#home" data-animation="fadeInDown" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="100">
										<div class="-to-action">
											<i class="fa fa-times fa-2x"></i>	
											<span class="top"></span>
											<span class="right"></span>
											<span class="bottom"></span>
											<span class="left"></span>
										</div>
									</a>
								</div>
								
								<!--CONTENT CHANGED & <br> ADDED-->								
								<div class="notify-wrap">
									<h3 class="wellcome-text" data-animation="fadeInLeft" data-animation-delay="900" data-out-animation="fadeOutLeft" data-out-animation-delay="100" data-ng-bind="notify || 'Career'">Career</h3>
									<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
										<div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="900">
											<input  data-ng-model="notify" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="email" placeholder="email id"  type="email">
											<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
										</div>	
										<button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300">
										<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
										</button>
									</form>
								</div>
							</section>
							<!--/Notify Form-->
													
							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://instagram.com/letrioramen?igshid=NTc4MTIwNjQ2YQ==" class="social-icon">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
								</ul>
								<p>Designed by Trio © 2022</p>
							</div>
						</div>
						<!--/main content-->
						
						</div>
					</div>
					<!--/Left Content Intro-->
					
					<!--Right Content Intro-->
					<div class="side side-right">
						
						<!--slider image-->
						<ul class="cb-slideshow">
							<li><span>Image 01</span></li>
							<li><span>Image 02</span></li>
							<li><span>Image 03</span></li>
							<li><span>Image 04</span></li>
							<li><span>Image 05</span></li>
							<li><span>Image 06</span></li>
						</ul>
						<!--/slider image-->
						
						<!--Contect Nav-->
						<div class="call-to-action contact">
								<i class="fa fa-envelope fa-2x"></i>
								<i class="fa fa-times fa-2x opacity-hide"></i>
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/Contect Nav-->
						
						<div class="counter-content">
							<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
								<p class="tagline">We handcraft unique flavor & visual feast experiences to surprise our customers.</p>
								
								<!--Counter-->
								<div id="countdown">
								  <span class="days">Enjoy</span>
								</div>
								<span class="small-hr"></span>
								<span class="remain-days">Your Life</span>
								<!--/Counter-->
								
							</div>	
						</div>
					<div class="trans-overlay-dark"></div>	
					</div>
					<!--/Right Content Intro-->
				</div>
				<!--/Intro-->
				
				<!--About Section-->
				<!-- <div class="page page-left">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>About</h3>
								</div>	
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
									<p class="tagline">We handcraft unique flavor & visual feast experiences to surprise our customers</p>
									<span class="small-hr"></span>
									<p class="align-center">We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers! </p>
									
									
									<div id="qualities">
										<div class="qualities"> 
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture1</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-birthday-cake"></i></span>
												<span class="qual-tag">Culture2</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-cutlery"></i></span>
												<span class="qual-tag"> Culture3</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture4</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture5</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag"> Culture6</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
										</div>
									</div>
								</div>	
								
								<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-7 col-md-8 col-sm-8 col-xs-9 team-sec">
									<p class="tagline">Our Team</p>
									<span class="small-hr"></span>
									<div id="team">
										<div class="team"> 
											<div class="item">
												<div class="team-img-wrap">
													<img src="img/team1.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> marry</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team2.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> david</span>
												<span class="desg"> coo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team3.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> john</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team4.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> elina</span>
												<span class="desg"> ceo											</span>
											</div>
										
										</div>
									</div>
								</div>	
								
							</div>
						</div>
						<div class="trans-overlay-dark-about"></div>
					</div>		
				</div> -->
				<!--/About Section-->
				
				<!--Contact Section-->
				<div class="page page-right">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Career'">Career</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<!-- <form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form> -->
									<!-- <p data-ng-class="result">{{ resultMessage }}</p> -->
									<p>If you would like to join our team, apply here!</p>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-9">
										<div class="notify-btn main-menu">
	
											<a href="/img/JobApplication.pdf" type="submit" onclick="window.open('/img/JobApplication.pdf')" class="btn animated"><span class="button-label text-left">Apply </span><span class="arrow-wrap">
												<span class="arrow"></span>
											</span></a>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
									<p>2831 Parmenter St, Middleton, <br/>WI 53562</p>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:16088246703" target="_blank">+1 (608) 824-6703</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-fax"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:16088246703" target="_blank">+1 (608) 824-6701</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="trio@trioramen.com" target="_blank">trio@trioramen.com</a>
									</div>
									<div class="col-lg-12  pad-left-zero map">
										<!-- <a class="" href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" target="_blank">
											<span class="">get direction</span><span class="go-arrow"></span>
										</a>	 -->
									</div>
								</div>
							
								</div>		
								<!--Google Map-->
								<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<!--/Google Map-->
							</div>
							</div>
						</div>
							
						<div class="trans-overlay-dark-contact"></div>	
            		</div>
				</div>
				<!--/Contact Section-->
				
			</div>
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
