<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Trio Ramen</title>
		<meta name="description" content="Trio Ramen" />
		<meta name="keywords" content="Trio Ramen" />
		<meta name="author" content="hencework" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="https://kit.fontawesome.com/d1b3b9d020.js" crossorigin="anonymous"></script>
	</head>
	
	<body data-ng-app="contactApp">

		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="menu-page splitlayout reset-layout" id="splitlayout" style="background: black;">
			
			<!--Splitlayout -->
			<!-- <div id="splitlayout" class="splitlayout reset-layout"> -->
				

				<div >
					<div id="popup" >
						<div class='popup-background' style="background: black;left: 0;right: 0;bottom: 0;top: 0;opacity: 0.8;position: absolute;">

							<div class="close_popup" style="
									padding: 2px;
									right: 2%;
									top: 2%;
									text-align: right;">
							
									<a role="button" tabindex="0" aria-label="Close" class="close_popup" style="
											padding: 2px;
											right: 2%;
											top: 2%;
											text-align: right; font-size: xx-large; position: relative;">
									X</a>
							</div>
									
							
						</div>
						<img src="" style="
										position: relative;
										top: 2%;
										width: 833.849px;
										height: 1079px;
										left: 637.076px;"/>
						
					</div>
				</div>



				<!--Intro-->
				<div class="intro">

					<div class="logo align-center text-left"><img src="img/logo-dark.jpg" alt="logo" class="screen-logo">
					</div>

					<div style="background-image: url('img/background.jpg'); background-repeat: no-repeat;  background-attachment: fixed; background-size: cover;">
						<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9 align-center screen-menu-message">
							<p class="tagline" style="color: white;">Ramen (ラーメン) </p>
							<span class="small-hr" style="background-color: white;margin-top: 2%;"></span>
							<p class="align-center" style="color: white;margin-top: 1%;">is a noodle soup dish that was originally imported from China in the 17th century, 
								and has become one of the most popular dish in Japan. Best ramen is made with the best ingredients. At Trio Ramen, 
								we used ingredients sourced straight from Japan. Ask your host about our process of making our broth. </p>
							
							
							<div id="qualities2" style="z-index: 200;">
								<div class="qualities2"> 
									<div class="item">
										<span class="qual-tag" style="color: white;">Tonkotsu (pork bone)</span>
										<span class="qual-desc" style="color: white;">
											Our Tonkotsu ramen is made of pork bones which have been boiled down until they dissolve into a cloudy white broth. The thick, creamy soup is also often flavored with our specialized recipe of tare (flavor) and pork fat.
										</span>
									</div>
									<div class="item">
										<span class="qual-tag" style="color: white;">Miso (fermented soybean paste)</span>
										<span class="qual-desc" style="color: white;">
											Our Miso ramen soup starts with a creamy chicken soup, and then is flavored with soybean paste (miso), resulting in a thick, brown soup with a rich, complex flavor. 
										</span>
									</div>
									<div class="item">
										<span class="qual-tag" style="color: white;">Shoyu (Dashi soysauce)</span>
										<span class="qual-desc" style="color: white;">
											Our Shoyu ramen soup is a clear, brown broth flavored with Dashi soy sauce (shoyu). Dashi Soy sauce is made by combining Konbu, Bonito flakes and Soy Sauce to make a flavorful tare gives Shoyu ramen its umami.
										</span>
									</div>
									<div class="item">
										<span class="qual-tag" style="color: white;">Vege (Soy Sauce)</span>
										<span class="qual-desc" style="color: white;">
											Our Vege Ramen soup is a clear, brown broth similar to Shoyu. Instead of Dashi, premium Japanese soysauce and Wakame (Seaweed) is used to give it the rich flavor. 
										</span>
									</div>
								</div>
							</div>
						</div>	
						
						
						
	
						<div class="align-center text-left image-group">
									<a href="">
									  <img class="thumb screen-image" src="img/LeTrio_menu 12_26 2_page-0001.jpg"/>
									</a>
	
									<a href="">
										<img class="thumb screen-image" src="img/LeTrio_menu 12_26 2_page-0002.jpg"/>
									</a>

									<a href="">
										<img class="thumb screen-image" src="img/DrinkMenu2_page-0001.jpg"/>
									</a>

									<a href="">
										<img class="thumb screen-image" src="img/DrinkMenu2_page-0002.jpg"/>
									</a>

									<a href="">
										<img class="thumb screen-image" src="img/menu4.png"/>
									</a>
						</div>
					</div>
					

					<div class="side side-left" style="background: transparent; z-index: 0;">
							<!--About Nav-->
							<!-- <div class="call-to-action about">
								<i class="fa fa-info fa-2x" style="color: white;"></i>	
								<i class="fa fa-times fa-2x opacity-hide" style="color: white;"></i>	
								<span class="top" style="background: white;"></span>
								<span class="right" style="background: white;"></span>
								<span class="bottom" style="background: white;"></span>
								<span class="left" style="background: white;"></span>
							</div> -->
							<!--/About Nav-->

							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="https://www.trioramen.com/" class="social-icon">
											<i class="fa fa-facebook" style="color: white;"></i>
										</a>
									</li>
									<li>
										<a href="https://www.tiktok.com/@trioramenmidleton" class="social-icon">
											<i class="fa-brands fa-tiktok" style="color: white;"></i>
										</a>
									</li>
									<li>
										<a href="https://instagram.com/letrioramen?igshid=NTc4MTIwNjQ2YQ==" class="social-icon">
											<i class="fa fa-instagram" style="color: white;"></i>
										</a>
									</li>
								</ul>
								<p style="color: white;">Designed by Trio © 2022</p>
							</div>

							<!-- Custome Nav Bar  -->
							<div class="align-center text-left custom-nav">
								<div class="header-nav">
									<nav class="header-nav-list">
											<div class="header-nav-item header-nav-item--collection">
													<a href="index.html" data-animation-role="header-element" aria-current="page" class="preFade fadeIn screen-nav-bar-menu-page">Home</a>
											</div>
											<div class="header-nav-item header-nav-item--collection header-nav-item--active header-nav-item--homepage">
												<a href="index2.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Menu</a>
											</div>

											<div class="header-nav-item header-nav-item--collection">
												<a href="catering.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Catering</a>
											</div>

											<div class="header-nav-item header-nav-item--collection">
												<a href="events.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Events</a>
											</div>

											<!-- <div class="header-nav-item header-nav-item--collection menu">
												<a data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Our Story</a>
											</div> -->
											<div class="header-nav-item header-nav-item--collection">
												<a href="gallery.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">Gallery</a>
											</div>

											<div class="header-nav-item header-nav-item--collection">
												<a href="about.html" data-animation-role="header-element" class="preFade fadeIn screen-nav-bar-menu-page">About</a>
											</div>
											<div class="header-nav-item header-nav-item--collection">
												<button type="submit" class="btn btn-default" onclick="window.open('https://trioramenwi.kwickmenu.com/index.php', '_self')" 
													data-ng-disabled="submitButtonDisabled" style="height: 38px; width: 160px; background: rgb(144, 90, 144);">
													Order Online
												</button>
											</div>
									</nav>
								</div>
								<!-- <a href="index2.html" class="btn btn-default">link text</a> -->
							</div>
							<!-- Custome Nav Bar  -->

							<!-- <div class="align-center text-left">
								<a id="thumb" class="thumb1" href="img/menu1.jpg">
								  <img class="thumb" src="img/menu1.jpg"/>
								</a>
							</div> -->
							
					</div>
					<div class="side side-right" style="background: transparent;">
								<!--Contect Nav-->
								<div class="call-to-action contact">
									<i class="fa fa-envelope fa-2x" style="color: white;"></i>
									<i class="fa fa-times fa-2x opacity-hide"></i>
									<span class="top" style="background: white;"></span>
									<span class="right" style="background: white;"></span>
									<span class="bottom" style="background: white;"></span>
									<span class="left" style="background: white;"></span>
								</div>
								<!--/Contect Nav-->

								<!-- <div class="align-center text-left" style="margin-top: 245px;">
									<a id="thumb" class="thumb1" href="img/menu2.jpg">
									  <img class="thumb" src="img/menu2.jpg"/>
									</a>
								</div> -->
					</div>
				
					
				</div>
				<!--/Intro-->
				
				<!--About Section-->
				<!-- <div class="page page-left" style="position: fixed;">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>About</h3>
								</div>	
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
									<p class="tagline">We handcraft unique flavor & visual feast experiences to surprise our customers</p>
									<span class="small-hr"></span>
									<p class="align-center">We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers! </p>
									
									
									<div id="qualities">
										<div class="qualities"> 
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture1</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-birthday-cake"></i></span>
												<span class="qual-tag">Culture2</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-cutlery"></i></span>
												<span class="qual-tag"> Culture3</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture4</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag">Culture5</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-coffee"></i></span>
												<span class="qual-tag"> Culture6</span>
												<span class="qual-desc">
													We will keep improving our services and flavors, please let us know if you have any good ideas, thank you for being our valuable customers!
												</span>
											</div>
										</div>
									</div>
									
								</div>	
								
								<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-7 col-md-8 col-sm-8 col-xs-9 team-sec">
									<p class="tagline">Our Team</p>
									<span class="small-hr"></span>
									<div id="team">
										<div class="team"> 
											<div class="item">
												<div class="team-img-wrap">
													<img src="img/team1.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> marry</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team2.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> david</span>
												<span class="desg"> coo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team3.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> john</span>
												<span class="desg"> ceo											</span>
											</div>
											<div class="item" >
												<div class="team-img-wrap">
													<img src="img/team4.jpg" alt="team1">
													<div class="team-overlay">
														<ul class="social-icons">
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-facebook"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-twitter"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-linkedin"></i>
																</a>
															</li>
															<li>
																<a href="" class="social-icon">
																	<i class="fa fa-behance"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>	
												<span class="name"> elina</span>
												<span class="desg"> ceo											</span>
											</div>
										
										</div>
									</div>
								</div>	
								
							</div>
						</div>
						<div class="trans-overlay-dark-about"></div>
					</div>		
				</div> -->
				<!--/About Section-->
				
				<!--Contact Section-->
				<div class="page page-right screen-career screen-career-background-menu-page">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Career'">Career</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<!-- <form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form> -->
									<!-- <p data-ng-class="result">{{ resultMessage }}</p> -->
									<p>If you would like to join our team, apply here!</p>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-9">
										<div class="notify-btn main-menu">
	
											<a href="/img/JobApplication.pdf" type="submit" onclick="window.open('/img/JobApplication.pdf')" class="btn animated"><span class="button-label text-left">Apply </span><span class="arrow-wrap">
												<span class="arrow"></span>
											</span></a>
										</div>
									</div>
								</div>
								
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
										<p>2831 Parmenter St, Middleton, <br/>WI 53562</p>
										<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
											<a href="callto:16088246703" target="_blank">+1 (608) 824-6703</a>
										</div>
										<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-fax"></i></div>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
											<a href="callto:16088246703" target="_blank">+1 (608) 824-6701</a>
										</div>
										<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
											<a href="trio@trioramen.com" target="_blank">trio@trioramen.com</a>
										</div>
										<div class="col-lg-12  pad-left-zero map">
											<!-- <a class="" href="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" target="_blank">
												<span class="">get direction</span><span class="go-arrow"></span>
											</a>	 -->
										</div>
									</div>
								</div>		
								
								<!--Google Map-->
								<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1ZUeiipB4gR-If9szU2DN4&key=AIzaSyA7-XPXRJ6uLthsjU7X09jOs7_1cgThKhI" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
								<!--/Google Map-->
							</div>
							</div>
						</div>
							
						<!-- <div class="trans-overlay-dark-contact"></div>	 -->
            		</div>
				</div>
				<!--/Contact Section-->
				
			<!-- </div> -->
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
